<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body class="bg-light">
    <h1 class="display-5 text-center mt-4">
        Usuarios
    </h1>
    <div class="table-responsive p-5">
        <table class="table table-bordered table-hover table-striped" id="tablaUsuarios">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Nombre</th>
                    <th scope="col" class="text-end">Número</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los usuarios se deben añadir por ajax -->
            </tbody>
        </table>
    </div>
    <script src="/usuariosAjax.js"></script>
</body>

</html>