<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container p-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h1 class="text-center">Servicios almacenados en la aplicación</h1>
                </div>
                <div class="row justify-content-center p-3 g-3" id="cardContainer">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        <tbody id="tableContainer">
                            <!-- Aquí se cargaran dinámicamente por Ajax todas las filas de la tabla -->
                        </tbody>
                     </table>
                </div>
            </div>
        </div>
    </div>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="ajaxServicios.js"></script>
</body>

</html>