<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mi proyecto</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-light">
    <!-- Cabecera -->
    <header class="bg-light">
        <div class="d-flex flex-row justify-content-between">
            <img src="/img/11111A.JPG" alt="Imagen de ecomarket" class="p-3">
            <div class="d-flex justify-content-center align-items-center p-3">
                <h1 class="text-dark" id="encabezado"> Examen extraordinario AW </h1>
            </div>
        </div>
        <%- include('navbar')%>
    </header>
    <main class="d-flex flex-column justify-content-center mt-5">
        <!-- Secci칩n del ejercicio 1 -->
        <section class="text-start p-5">
            <h2 class="text-start">Ejercicio 1</h2>
            <a href="">
                Enlace para ir al ejercicio 1
            </a>
        </section>
        <!-- Secci칩n del ejercicio 2 -->
        <section class="text-start p-5">
            <h2 class="text-start">Ejercicio 2</h2>
            <a href="">
                Enlace para ir al ejercicio 2
            </a>
        </section>
        <!-- Secci칩n del ejercicio 3 -->
        <section class="text-start p-5">
            <h2 class="text-start">Ejercicio 3</h2>
            <a href="">
                Enlace para ir al ejercicio 3
            </a>
        </section>
    </main>
    <footer class="bg-dark footer mt-5">
        <div class="p-3">
            <h2 class="text-center text-white "> Ejercicio realizado por Sergio S치nchez Carrasco</h2>
        </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/accesibilidad.js"></script>
</body>

</html>