<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos disponibles</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-light">
    <header class="bg-light">
        <div class="d-flex flex-row justify-content-between">
            <img src="/img/11111A.JPG" alt="Imagen de ecomarket" class="p-3">
            <div class="d-flex justify-content-center align-items-center p-3">
                <h1 class="text-dark" id="encabezado"> Examen extraordinario AW </h1>
            </div>
        </div>
        <%- include('navbar')%>
    </header>
    <main class="d-flex flex-column justify-content-center">
        <div class="card mt-5 ">
            <div class="card-body">
                <h1 class="card-title text-center"> Productos </h1>
                <div class="row g-3" id="cardContainer">
                    <!-- Cargar por ajax los productos -->
                </div>                            
            </div>
        </div>
    </main>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/accesibilidad.js"></script>
    <script src="/js/ajaxProductos.js"></script>
</body>

</html>