<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Agradecimiento</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container p-4">
        <div class="card shadow p-2">
            <div class="card-body">
                <h1 class="card-title text-center">Gracias por responder nuestro cuestionario</h1>
                <div class="d-flex flex-row justify-content-center align-items-center gap-3 p-3">
                    <a role="button" href="/encuesta/resultados" class="btn btn-secondary btn-lg"> Ver resultados</a>
                    <a role="button" href="/" class="btn btn-outline-secondary btn-lg"> Volver a la encuesta</a>

                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>