<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body >
    <%- include('header') %>
    <h1 class="text-center text-danger">Error 500: Ha habido un error interno en el servidor</h1>
        
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/modal.js"></script>
</body>
</html>