
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Índice</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<%- include('header') %>
    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/modal.js"></script>
</body>
</html>
