<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Ecomarket</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
<%- include('header') %>
    <div class="container p-3">
        <div class="card shadow">
            <div class="card-body p-3">
                <h1 class="card-title text-center text-primary"> Productos disponibles en EcoMarket</h1>
                <div class="row g-2" id="cardContainer">
                    <!-- Aquí cargaré por Ajax toda la info de los productos -->
                     <div class="col-12 col-md-6 col-lg-4">

                     </div>
                     <div class="card shadow card-productos">
                        <div class="card-body p-3">
                            <div class="card-title d-flex flex-column justify-content-center align-items-center">
                                <img src="/img/" alt="Imagen del producto" class="imagen-cards">
                                <h2 class="text-center text-success"> </h2>
                            </div>
                            <p class="text-start">Precio: <span class="fw-bold"></span></p>
                            <div class=" d-flex flex-row justify-content-center align-items-center">
                                <a href="/productos/:id" class="btn btn-primary btn-md" role="button"> Ver más </a>
                                <button type="button" onclick="eliminarProducto('id')" class="btn btn-danger btn-md"></button>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/ajaxProductos.js"></script>
</body>

</html>