<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Agradecimiento</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body class="bg-light" onload="redireccionar()">
    <div class="container p-2">
        <div class="card shadow">
            <div class="card-body  p-3">
                <h1 class="card-title text-center text-info">
                    Gracias por rellenar nuestra encuesta
                </h1>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        function redireccionar() {
            setTimeout("location.href='http://localhost:3000/'", 5000);
        }
    </script>
</body>

</html>