
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
h1 {
    color: #2e7d32;
}
a {
    text-decoration: none;
    color: #1b5e20;
}

img {
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card-general {
    background-color: rgb(0,0,255,0.1) !important;
}

.cards-productos {
    height: 350px !important;
    background-color: rgb(23,234,255,0.1) !important;
}