<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container p-3">
        <div class="card shadow galeria">
            <div class="card-body p-2">
                <div class="card-title d-flex flex-column justify-content-center align-items-center p-2 gap-2">
                    <h1 class="card-title text-center text-danger fw-bold"> Error 404, la página no ha sido encontrada </h1>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>


</html>