<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container p-3">
        <h1 class="text-center"> <span class="text-danger"> Error 404: </span> La página que buscas no existe</h1>
        <a href="/" class="btn btn-danger btn-lg" role="button">Volver a la página de registro</a>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/ajaxUsuarios.js"></script>
</body>

</html>