/* Header */
.page-title {
  background-color: gray;
}

.circular {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.enlace {
  color: white ;
}

/* Body */
.section {
  background: gray;
  border-radius: 8px;
}

/* Body */
.footer {
  height: 120px;
}



/* Quitar viñetas y márgenes de las listas en el footer */
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
