img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.product-card {
    height: 300px;
}

.card-body {
    border: 1px solid #48e;
}

.product-card {
    background-color: rgb(65, 137, 245, 0.3);
}